:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 0.25rem;
}

th {
  text-align: left;
}
